:root
{
  --blanco:#FFFFFF;
  --naranja:#ED9274;
  --amarillo:#F4E4A4;
  --azul:#6ABFC0;
  --verde:#C8DDA1;
  --morado:#A668A8;
  --rosa:#E0A5CA;
}




*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI", sans-serif;
}

body
{
  background:var(--blanco);
  color:#111;
}

/* FUENTE LOCAL */
@font-face
{
  font-family:"BlueWinter";
  src: url("Recursos/fonts/blue_winter/Blue Winter.ttf") format("truetype"),
       url("Recursos/fonts/blue_winter/Blue Winter.otf") format("opentype");
}

/* HEADER */
.header
{
  position:fixed;
  top:0;
  width:100%;
  height:4rem;
  background:rgba(255,255,255,.92);
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.4);
  z-index:10;
  display:flex;
  align-items:center;
}

.header .container{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:700;
}

.logo span{
    font-size:2rem;
    font-family:"BlueWinter";
}

.logo-img{
  height:48px;
  width:auto;
  object-fit:contain;
}

/* NAV */
nav a{
  margin-left:1rem;
  text-decoration:none;
  color:#111;
  font-weight:500;
}

.btn-nav{
  background:var(--morado);
  color:#fff;
  padding:8px 20px;
  border-radius:30px;
}

/* HERO FULLSCREEN */
.hero{
  position:relative;
  height:100vh;
  width:100%;
  overflow:hidden;
}

.hero-bg{
  position:absolute;
  inset:0;
}

.hero-bg img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero-content{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#fff;
  background:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0,0,0,0.3)  
    );
  padding:0 1rem;
}

.hero h1
{
  font-size:10rem;
  font-family:"BlueWinter", sans-serif;
}

.slogan{
  font-size: 2rem;
  margin:.5rem 0;
}

.btn-hero{
  margin-top:1rem;
  background:var(--morado);
  color:#fff;
  padding:14px 32px;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
}


















/* DESCRIPCIÓN */
.descripcion{
  padding:2rem 8%;
}

.grid-desc{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:2rem;
  align-items:center; /* centra verticalmente ambas columnas */
}

/* CONTENEDOR DEL TEXTO */
.desc-text{
  display:flex;
  align-items:center;      /* centra verticalmente */
  justify-content:center;  /* centra horizontalmente dentro de su columna */
}

.desc-p{
  max-width:480px;
  text-align:justify;
  line-height:1.6;
}

/* IMAGEN */
.desc-img{
  width:100%;
  height:320px;
  border-radius:20px;
  overflow:hidden;
}

.desc-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}



























/* VALOR */
.valor{
  text-align: center;
  padding:2rem 8%;
  padding-bottom: 4rem;
}

@media (max-width: 768px)
{
  .valor
  {
    padding: 3rem 4%;
  }
}

@media (max-width: 480px)
{
  .valor
  {
    padding: 2rem 1.5rem;
  }
}

#subtitulo
{
    font-size:4rem;
    font-family:"BlueWinter", sans-serif;
}

.valor-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

@media (max-width: 480px)
{
  .valor-grid
  {
    grid-template-columns: 1fr; /* 1 tarjeta por fila en celular */
  }
}

.valor-card
{
  background: var(--amarillo);
  border-radius: 24px;
  padding: 2rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.10);
  transition: transform .3s ease, box-shadow .3s ease;
}

.valor-card:hover
{
  transform: translateY(-8px);
  box-shadow: 0 25px 50px rgba(0,0,0,.20);
}

.icon
{
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img
{
  width: 60%;
  height: auto;
}























/* NOSOTROS */
.nosotros{
  background:var(--azul);
  color:#fff;
  padding:6rem 8%;
  text-align: center;
}

#nosotros
{
    font-size:4rem;
    font-family:"BlueWinter", sans-serif;
    align-items: center;
}

.grid-nosotros
{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:2rem;
  align-items:center; /* centra texto con la imagen */
  text-align: justify;
}

.nosotros-img{
  width:100%;
  height:340px;
  border-radius:20px;
  overflow:hidden;
}

.nosotros-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* RESPONSIVE */
@media(max-width:768px){
  .grid-nosotros{
    grid-template-columns:1fr; /* baja la imagen debajo */
    gap:2rem;
  }

  .nosotros{
    padding:4rem 6%;
  }

  .nosotros-img{
    height:260px;
  }
}





















/* PRODUCTOS */
.productos{
  text-align:center;
  padding:4rem 5%;
}

#productos{
  font-size:clamp(2.2rem, 5vw, 4rem);
  font-family:"BlueWinter", sans-serif;
  text-align:center;
}

/* GRID RESPONSIVO */
.productos-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
  gap:1.5rem;
  align-items:stretch;
}

/* TARJETAS */
.card-sushi{
  background: #c8dda1af;
  border-radius:25px;
  padding:1rem;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  transition:.3s ease;
  align-items: center;
}

.card-sushi:hover{
  transform:translateY(-6px);
}

/* CONTENEDOR IMAGEN */
.img{
  height:200px;
  border-radius:50px;
  overflow:auto;
  display:block;
  align-items:center;
  justify-content:center;
}

/* IMAGEN RESPONSIVA */
.img img{
  width:100%;
  height:100%;
  object-fit:contain;
  background:#fff;
}


/* TEXTO */
.card-sushi h3
{
  font-size:2rem;
  margin:.5rem 0;
}

.card-sushi p
{
  font-size:1.2rem;
}

/* BOTÓN */
.card-sushi button
{
  background:var(--amarillo);
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  transition:.3s ease;
  width: 70%;
  border: none;
}

.card-sushi button:hover
{
  transform:scale(1.1);
}

/* 📱 MOBILE */
@media(max-width:600px){
  .productos{
    padding:3rem 4%;
  }

  .img{
    height:130px;
  }

  .card-sushi{
    padding:.8rem;
  }
}

























/* CONTACTO */
.contacto{
  background:linear-gradient(135deg,var(--morado),var(--rosa));
  color:#fff;
  text-align:center;
  padding:4rem 8%;
}

.contacto h2{
  margin-bottom:2rem;
}

/* FORM */
.contacto form{
  max-width:900px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
}

/* GRID 2 COLUMNAS */
.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
    align-items:start; 
}

/* BLOQUES */
.form-opciones
{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
  width:100%;
  align-items:flex-start;
}


.form-datos
{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:100%;
    align-items:flex-end;
}

/* INPUTS */
.form-datos input,
.form-datos textarea{
  width:60%;
  padding:.9rem;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:.95rem;
  align-items:center;  
}

/* OPCIONES */
.opciones
{
  width:100%;
  display:flex;
  flex-direction:column;
  gap:.6rem;
  text-align:center;
  background:rgba(255,255,255,.15);
  padding:1rem;
  border-radius:12px;
}

.opciones label
{
  cursor:pointer;
  align-items:center;
  text-align: center;
  gap:.6rem;
  font-size:1rem;
}

.opciones input{
  accent-color:var(--amarillo);
}

/* BOTÓN */
#botonContacto{
    width: 12rem;
    background:var(--amarillo);
    border:none;
    padding:14px;
    border-radius:30px;
    font-weight:700;
    cursor:pointer;
    transition:.3s ease;
    margin-top: 1rem;
}

.contacto button:hover{
  transform:scale(1.2);
  background:#fff;
  color:#111;
}

/* RESPONSIVE: TABLET */
@media(max-width:1024px){
  .form-grid{
    grid-template-columns:1fr; /* una columna */
  }

  .form-datos input,
  .form-datos textarea{
    width:80%; /* inputs más grandes para tablet */
  }

  .form-datos,
  .form-opciones{
    align-items:center; /* centrar todo */
  }
}

/* RESPONSIVE: CELULAR */
@media(max-width:768px){
  .form-grid{
    grid-template-columns:1fr; /* una columna */
    gap:1.5rem;
  }

  .form-datos input,
  .form-datos textarea{
    width:100%; /* ocupan todo el ancho */
    font-size:1rem;
  }

  .form-opciones{
    align-items:center;
  }

  .opciones label{
    font-size:.95rem;
  }

  #botonContacto{
    width:100%; /* botón ancho completo */
    padding:12px;
    font-size:1rem;
  }
}

/* RESPONSIVE: MINI CELULAR */
@media(max-width:480px){
  .contacto{
    padding:3rem 5%;
  }

  .form-datos input,
  .form-datos textarea{
    font-size:.95rem;
    padding:.8rem;
  }

  .opciones label{
    font-size:.9rem;
  }

  #botonContacto{
    padding:10px;
    font-size:.95rem;
  }
}























/* FOOTER */
footer{
  background:var(--azul);
  color:#fff;
  text-align:center;
  padding:2rem 1rem;
  display:flex;
  flex-direction:column;
}

/* TEXTO */
footer h4{
  font-weight:600;
}

footer p{
  font-size:1rem;
}

/* REDES */
.redes{
  display:flex;
  justify-content:center;
  gap:1.2rem;
  margin-top:.5rem;
}

.redes img{
  width: 3rem;;
  cursor:pointer;
  transition:.3s ease;
}

.redes img:hover
{
  transform: scale(1.15);
  cursor: pointer;
}








/* RESPONSIVE  ================================================================================  */   
@media(max-width:768px){
  .grid-desc,
  .grid-nosotros{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:5rem;
  }
}
